html,
body {
  height: 100%;
  background: #CCCCCC;
  text-align: left;
  font-size: 14px;
  padding: 10px;
  text-align: left
}
.heading{
    display: flex;
    margin: auto auto auto 11.2rem;
    text-align: left;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #CCCCCC;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: auto;
  justify-content: center;
  align-content: center;
}

.launchesCard {
    padding: 15px;
    height: 355px;
    width: 250px;
    background-color: #FFFFFF;
  
  }


  @media only screen and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        background-color: #CCCCCC;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        margin-left: -19px;
    }

    .launchesCard {
        padding: 10px 10px 0 0;
        height: 355px;
        width: 100%;
        padding-left: 10px;
        background-color: #FFFFFF;
        padding-bottom: 25px;
      
      }

      .heading{
        display: flex;
        margin: auto auto auto -1.3rem;
        text-align: left;
    }
  }
  
  @media only screen and (min-device-width : 700px) and (max-device-width : 1024px) {
    .container {
      display: grid;
      grid-template-columns: auto auto;
      background-color: #CCCCCC;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      padding: auto;
      justify-content: center;
      align-content: center;
    }

    .heading{
        display: flex;
        margin: auto auto auto 2.2rem;
        text-align: left;
    }
  }



.text-align {
  text-align: left
}

.img {
  width: 100%;
  height: 200px;
}

.float-left {
  float: left;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.font-weight-bold {
  font-weight: bold;
}

.f-16 {
  font-size: 16px;
}

.font-weight-400 {
  font-weight: 400;
}




.text-center {

  text-align: center;

}



